/* Root element */
.root {
  display: flex;
  flex-direction: column;
}

/* App header */
.app_header {
  display: flex;
  height: 10vh;
  background-color: rgb(79, 233, 167);
  align-items: center;
  justify-content: space-between;
}

.app_header_left {
  font-size: 4em;
  font-weight: bold;
  font-family: "Copperplate";
  color: rgb(247, 246, 172);
  flex-grow: 1;
}

.app_header img {
  margin-right: 0px;
  height: 100%;
  cursor: pointer;
}

/* Dropdown menu */
.dropdown-menu {
  position: absolute;
  top: 60px;
  right: 16px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-width: 100px;
}

.dropdown-menu a {
  padding: 8px 16px;
  text-decoration: none;
  color: #333;
}

.dropdown-menu a:hover {
  background-color: #f2f2f2;
}

/* Content */
.content {
  font-size: 1.6em;
  display: flex;
  width: 100vw;
  height: 40vw;
}

/* Form wrapper */
.form_wrapper {
  width: 25vw;
  height: 90vh;
  background-color: rgb(230, 230, 230);
  display: flex;
  justify-content: center;
}

.form {
  margin-top: 40px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Map wrapper */
.map_wrapper {
  width: 75vw;
  height: 90vh;
  display: flex;
  justify-content: start;
  align-items: start;
}

.map_wrapper > div {
  width: 100% !important;
  height: 100% !important;
}

/*Label position */
label[for="pickup-address"] {
  position: relative;
  left: -17px;
}

label[for="destination"] {
  position: relative;
  left: -17px;
}

label[for="weight"] {
  position: relative;
  left: -17px;
}

/* Form elements */
.form input,
.form select {
  height: 40px;
  border-radius: 10px;
  border-width: 0;
}

.form button {
  margin-top: 20px;
  height: 55px;
  border-radius: 20px;
  border-width: 0;
  background-color: rgb(79, 233, 167);
  color: white;
  font-size: large;
  cursor: pointer;
}
