.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #4caf50;
    text-shadow: 2px 2px 5px #d2d2d2;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 100%;
  }
  
  input {
    padding: 1rem;
    border: 2px solid #4caf50;
    border-radius: 5px;
    margin-top: 0.5rem;
    font-size: 1.5rem;
  }
  
  button {
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.5rem;
    background-color: #4caf50;
    color: #fff;
    border: none;
    margin-top: 2rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  button:focus {
    outline: none;
  }
  .login p {
    text-align: center;
    margin-top: 20px;
    color: #333;
    font-size: 1.2rem;
  }
  .login p a {
    color: blue;
}
  
  
  @media only screen and (max-width: 768px) {
    form {
      padding: 2rem;
    }
    
    input {
      font-size: 1rem;
    }
    
    button {
      font-size: 1.2rem;
      padding: 0.8rem 1.5rem;
    }
    
  }
  
  
  
  