.root {
  display: flex;
  flex-direction: column;
}

.app_header {
  display: flex;
  height: 10vh;
  background-color: rgb(79, 233, 167);
  align-items: center;
  justify-content: space-between;
}

.app_header img {
  margin-right: 20px;
  height: 100%;
  cursor: pointer;
}

.content {
  display: flex;
  width: 100vw;
  height: 40vw;
}

.form_wrapper {
  width: 25vw;
  height: 90vh;
  background-color: rgb(230, 230, 230);
  display: flex;
  justify-content: center;
}

.form {
  margin-top: 40px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.map_wrapper {
  width: 75vw;
  height: 90vh;
  display: flex;
  justify-content: start;
  align-items: start;
  /* padding-top: 5%;
  padding-left: 5%; */
}

.map_wrapper > div {
  width: 100% !important;
  height: 100% !important;
}

.form input {
  height: 40px;
  border-radius: 10px 10px 10px 10px;
  border-width: 0;
}

.form select {
  height: 40px;
  border-radius: 10px 10px 10px 10px;
  border-width: 0;
}

.form button {
  margin-top: 20px;
  height: 40px;
  border-radius: 20px 20px 20px 20px;
  border-width: 0;
  background-color: rgb(79, 233, 167);
  color: white;
  font-size: large;
  cursor: pointer;
}
