
.route-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(230, 230, 230);
    height: 90vh;
    padding: 20px;
    box-sizing: border-box;
  }

/* Map wrapper */
.map_wrapper {
  width: 75vw;
  height: 90vh;
  display: flex;
  justify-content: start;
  align-items: start;
}

.map_wrapper > div {
  width: 100% !important;
  height: 100% !important;
}

/* Content */
.content {
  font-size: 1.0em;
  display: flex;
  width: 100vw;
  height: 40vw;
}

.map_wrapper > div {
  width: 100% !important;
  height: 100% !important;
}

/* Form elements */
.form input,
.form select {
  height: 40px;
  border-radius: 10px;
  border-width: 0;
}

.form button {
  margin-top: 20px;
  height: 55px;
  border-radius: 20px;
  border-width: 0;
  background-color: rgb(79, 233, 167);
  color: white;
  font-size: large;
  cursor: pointer;
}

.route-info-header {
  display: flex;
  height: 10vh;
  background-color: rgb(79, 233, 167);
  align-items: center;
  justify-content: flex-end;
}

.route-info-header img {
  margin-right: 20px;
  height: 100%;
  cursor: pointer;
}
  
.order-info-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80vh;
  padding: 20px;
}
  
.route-info-section,
.carrier-type-section,
.book-section {
  display: flex;
  flex-direction: column;
}
  
.route-info-section h3,
.carrier-type-section h3 {
  margin-bottom: 10px;
}
  
.carrier-type-dropdown {
  height: 40px;
  border-radius: 10px 10px 10px 10px;
  border-width: 0;
}
  
.book-button {
  margin-top: 20px;
  height: 40px;
  border-radius: 20px 20px 20px 20px;
  border-width: 0;
  background-color: rgb(79, 233, 167);
  color: white;
  font-size: large;
  cursor: pointer;
}

.number-display {
  width: 100%;
  height: 40px;
  background-color: rgb(230, 230, 230);
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.info-blocks {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-block {
  display: flex;
  flex-direction: column;
}